#profileImage {
    height: 38px;
    width: 38px;
    margin-left: 10px;
}

#newPostButton {
    margin-left: 5px;
    background: darkorange;
    border-color: darkorange;
}

#searchButton {
    border-color: darkorange;
    color: darkorange;
}

#searchButton:hover {
    background: darkorange;
    color: white;
}

#searchForm {
    margin-right: 22px;
}

#catfinderText {
    font-weight: bold;
}

#headerLink::selection {
    color: darkorange;
}
