.postComponent {
    background: white;
    padding: 5px;
    border-radius: 4px;
}

.miniatureImage {
    height: 60%;
    width: 60%;
}

.infoButton {
    width: 70%;
    color: darkorange;
    border-color: darkorange;
}
.infoButton:hover {
    background: darkorange;
    color: white;
    border-color: darkorange;
}
